<!DOCTYPE html>
<html>
  <head>
    <title>creator portal - Karaoke</title>
    <link rel='stylesheet' href="/assets/style.desktop.css">
    <script>
        const 
            user = JSON.parse(`{{{string user}}}`)
    </script>
    <script type='text/javascript' src="/src/js/functions/extensions/axios.js"></script>
    <script type='text/javascript' src="/src/js/creatorPortal.js"></script>
    <script type='text/javascript' src="/src/js/central.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/karaoke.ico">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
  .musicThumbnail {
    width: 330px;
    height: 300px;
    border-radius: 10px;
    background: #2c2c2c;
    transition: .2s
  }
  .songTitle {
    margin: 0;
    color: #fff
  }
</style>
<div class="navBar">
    <h2 class="logo">Creator Portal</h2>
<div class="route" onclick="changeTab(this,'main')"><i class="icon-home"></i> main</div>
<div class="route" onclick="changeTab(this,'post')"><i class="icon-music"></i> post a song</div>
<div class="route" onclick="changeTab(this,'managePosts')"><i class="icon-library"></i> manage posts</div>
</div>
  </head>
  <body>
    <div id="content">
        <br>
    <img src='/images/band.webp' class="bodyImg">
    <h1 class='title'>Creator Portal</h1>
    here your can manage your group and manage your works!
    <hr>
    <div class='containerDevelop'>
      <h3 class="title">My Rithm</h3>
      your rithm is calculated based on your statics.
      <div class="containerDevelop mini">
        <div class='statics'>Your Musics</div>
        <div>
      <canvas id="musicsChart" height="90"></canvas>
       </div>
       post statics uses the listeners of your post.
       {{{yourPosts}}}
       <hr>
        <div class='statics'>Your Followers</div>
         <h4 class="title">no followers...</h4>
       <div class='statics'>Geral</div>
       general statics of your profile.
       <h3 class='title'></h3>
       <div>
         <canvas id='geralChart' height='90'></canvas>
       </div>
      </div>
     </div>
    </div>
  <script>
async function loadMusicChart() {
 const ctx = document.getElementById('musicsChart');
 const myPosts = await db.get(user.email, true)
new Chart(ctx, {
    type: 'line',
    data: {
      labels: myPosts.map(x=>x.title),
      datasets: [{
      label: 'listeners',
      data: myPosts.map(x=>x.listeners),
      fill: true,
      borderColor: '#425fff',
      tension: 0
     },
     {
      label: 'stars',
      data: myPosts.map(x=>x.stars),
      fill: true,
      borderColor: '#a1afff',
      tension: 0
     }]
    },
    options: {
        layout: {
                padding: 0
            },
        scales: {
            y: {
                stacked: true
            }
        }
    }
});
}
function loadGeralChart() {
 const ctx = document.getElementById('geralChart');
const data = {
  labels: ["posts"],
  datasets: [{
    label: 'Activity of profile',
    data: [0, 59, 80, 81, 0, 55, 800],
    fill: false,
    borderColor: '#425fff',
    tension: 0
  }, {
  label: 'Activity of profile',
    data: [0, 59, 80, 81, 0, 55, 40],
    fill: false,
    borderColor: '#8295ff',
    tension: 0.1
  },
  {label: 'Activity of profile',
    data: [0, 59, 80, 81, 0, 55, 40],
    fill: false,
    borderColor: '#b2beff',
    tension: 0.1
  }]
};

  const config = {
  type: 'line',
  data: data,
};

const stackedLine = new Chart(ctx, {
    type: 'line',
    data: data,
    options: {
        scales: {
            y: {
                stacked: true
            }
        }
    }
});
}
loadGeralChart();
loadMusicChart();
  </script>
  <div id="overlay"></div>
  <div id="contextmenu"></div>
  </body>
</html>