<!DOCTYPE html>
<html>
    <head>
    <link rel='stylesheet' href="/assets/style.desktop.css">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/karaoke.ico">
    <title>creator portal - Karaoke</title>
    
    <div class="navBar">
        <h2 class="logo">Creator Portal</h2>
        <div class="route"><i class="icon-home"></i> main</div>
    </div>
    </head>
    <body style="color: #6e6e6e">
        <div id="content">
        <img src="/images/band.webp" class="bodyImg">
        <h2 class="title">Creator Portal</h2>
        make a better experience! on here you view all things of your profile, band, whatever.
        <hr>
        <div class="container infoBox">
            <img src="http://localhost:8080/api/v3/get/media/avatars/{{{json user.avatar}}}" crossorigin="anonymous" class='bodyImg' style="border-radius: 1in;">
            <div class="column">
                <h2 class="title">{{{json user.username}}}</h2>
                you
            </div>
            <div class="separate column"><h2</div>
        </div>
     </div>
    </body>
</html>