<!DOCTYPE html>
<html>
  <head>
    <title>creator portal - Karaoke</title>
    <link rel='stylesheet' href="/assets/style.desktop.css">
    <script>
        const 
            user = JSON.parse(`{{{string user}}}`)
    </script>
    <script type='text/javascript' src="/src/js/functions/extensions/axios.js"></script>
    <script type='text/javascript' src="/src/js/creatorPortal.js"></script>
    <script type='text/javascript' src="/src/js/central.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/karaoke.ico">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
  .musicThumbnail {
    width: 330px;
    height: 300px;
    border-radius: 10px;
    background: #2c2c2c;
    transition: .2s
  }
  .songTitle {
    margin: 0;
    color: #fff
  }
</style>
<div class="navBar">
    <h2 class="logo">Creator Portal</h2>
<div class="route" onclick="changeTab(this,'main')"><i class="icon-home"></i> main</div>
<div class="route" onclick="changeTab(this,'post')"><i class="icon-music"></i> post a song</div>
<div class="route" onclick="changeTab(this,'managePosts')"><i class="icon-library"></i> manage posts</div>
<div class="route" onclick="changeTab(this,'community')"><i class="icon-users"></i> community terms</div>
</div>
  </head>
  <body>
    <div id="content">
        <br>
    <img src='/images/band.webp' class="bodyImg">
    <h1 class='title'>Creator Portal</h1>
   </div>
  <div id="overlay"></div>
  <div id="contextmenu"></div>
  </body>
</html>