<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href="style.desktop.css">
    <script src="https://kit.fontawesome.com/e4fcc87bea.js" crossorigin="anonymous"></script>
    <title>Is Karaoke!</title>
    <div class="navBar">
      <h2 class="logo">Karaoke</h2>
  <div class="route"><i class="fa fa-battery"></i> main</div>
  <div class="route"><i class="fa fa-battery"></i> search</div>
  <div class="route"><i class="fa fa-battery"></i> explore</div>
  <div class="route"><i class="fa fa-battery"></i> notifications</div>
  <div class="route"><i class="fa fa-battery"></i> library</div>
  <div class="route creatorPortal"><i class="fa fa-battery"></i> creator portal</div>
  <div class="route logout"><i class="fa fa-battery"></i> logout</div>
  </div>
  </head>
  <body>
  <div id="container">
    <div class="musicCard">
      <div class="option"><i class='fa fa-share-nodes icon-share' onclick=""></i><i class='fa fa-comment icon-comment'></i> 0 <i class='fa fa-ellipsis-vertical icon-three_spots'></i></div>
       <img onclick="window.location.href='/player?song=${x.id}'"  src="/assets/OIG.jpeg" crossorigin='anonymous' class="background">
       <div class='cardInfo'>
         <div class='static'><i class='fa fa-music icon-music'></i> 0</div>
         <div class='static'><i class='fa fa-star icon-star'></i> 0</div>
         <h2 class='title'>Non Name</h2><h5 class='author'>By Dummy</h5>
       </div>
      </div>
      <div class="musicCard">
      <div class="option"><i class='fa fa-share-nodes icon-share' onclick=""></i><i class='fa fa-comment icon-comment'></i> 0 <i class='fa fa-ellipsis-vertical icon-three_spots'></i></div>
       <img onclick="window.location.href='/player?song=${x.id}'"  src="/assets/moonlinka.png" crossorigin='anonymous' class="background">
       <div class='cardInfo'>
         <div class='static'><i class='fa fa-music icon-music'></i> 0</div>
         <div class='static'><i class='fa fa-star icon-star'></i> 0</div>
         <h2 class='title'>Non Name</h2><h5 class='author'>By Dummy</h5>
       </div>
      </div>
      <div class="musicCard">
        <div class="option"><i class='fa fa-share-nodes icon-share' onclick=""></i><i class='fa fa-comment icon-comment'></i> 0 <i class='fa fa-ellipsis-vertical icon-three_spots'></i></div>
         <img onclick="window.location.href='/player?song=${x.id}'"  src="/assets/barbie.png" crossorigin='anonymous' class="background">
         <div class='cardInfo'>
           <div class='static'><i class='fa fa-music icon-music'></i> 0</div>
           <div class='static'><i class='fa fa-star icon-star'></i> 0</div>
           <h2 class='title'>Non Name</h2><h5 class='author'>By Dummy</h5>
         </div>
        </div>
  </div><br><br><br>
  </body>
</html>