<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href="/assets/style.desktop.css">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/karaoke.ico">
    <script>
      let 
        user = JSON.parse(`{{{string user}}}`),
        currentSection,
        currentSongPosition,
        queue = [];
    </script>
    <script src="src/js/functions/playlist.js"></script>
    <script src="src/js/functions/extensions/comments.js"></script>
    <script src="src/js/functions/extensions/liricle.js"></script>
    <script src="src/js/main.js"></script>
    <script src="src/js/central.js"></script>
    <script src="src/js/functions/extensions/configuration.tabs.js"></script>
    <script src="src/js/functions/settings.js"></script>
    <script src="src/js/functions/player.js"></script>
    <script src="src/js/functions/extensions/player.events.js"></script>
    <script src="src/js/functions/extensions/theme.js"></script>
    <title>Is Karaoke!</title>
    <div class="navBar">
      <h2 class="logo"><i class='icon-karaoke'></i> Karaoke</h2>
  <div class="route" onclick="changeTab(this,'main')"><i class="icon-home"></i> main</div>
  <div class="route" onclick="changeTab(this,'search')"><i class="icon-search"></i> search</div>
  <!--<div class="route" onclick="changeTab(this,'explore')"><i class="icon-compass"></i> explore</div>-->
  <div class="route" onclick="changeTab(this,'notifications')"><i class="icon-bell"></i> notifications</div>
  <div class="route" onclick="changeTab(this,'library')"><i class="icon-library"></i> library</div>
  <div class="route" onclick="showSettings()"><i class="icon-gear"></i> settings</div>
  <a href="/k/creator" class="route creatorPortal"><i class="icon-sparkle"></i> creator portal</a>
</div>
  </head>
  <body>
  <div id="content">
  <img title='you' onclick="window.location.href='/k/profile/{{{json user.identifier}}}'" src="https://kapi.loca.lt/api/v3/get/media/avatars/{{{json user.avatar}}}" crossorigin="anonymous" class="userAvatar">
    <br><br><br>{{{algorithm}}}
    </div>
    <div id="overlay"></div>
    <div id="contextmenu"></div>
    <div id='playerOverlay'></div>
    <div class="mainLyrics"><h3 class='title' id='lyrics' onclick="lyricsAllScreen()"></h3></div>
    <div oncontextmenu="contextmenu(event, `<h2 class='title'>mini player popup</h2><div class='card simple' onclick='setMiniPlayer(null, true)'>close mini popup<span></span></div>
    <div class='card simple' onclick='lyricsPopUp()'>close lyrics popup<span></span></div>
    <div class='card simple' onclick='stop()'>stop<span></span></div>`)" id='miniPlayer'>
      <img class='thumbnailOfSong' onclick='touchMiniPlayer()' crossorigin='anonymous'>
      <div class='infos'>
      <h3 class='titleOfSong'>song name</h3>
      <div class='duration' id="duration">00:00</div>
      </div>
      <div class='bar' onclick="seek(event.offsetX)">
        <div class='progress-bar'></div>
      </div>
      <div class='controls'>
        <i class='icon-skip skipIcons'></i>
      </div>
      </div>
  </body>
</html>