<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href="/assets/style.desktop.css">
        <link rel="shortcut icon" type="image/x-icon" href="/assets/karaoke.ico">
        <title>no found - Karaoke</title>
    </head>
    <body style="text-align: center">
        <img src="http://localhost:3000/images/confuse.webp" class="bodyImg">
        <h1 class="title">oh, what you are doing here.</h1>
        well... it's looks like you lost our route, try for anothers routers:
        <a class="card select selected" href="/"><i class='icon-search'></i> main<span></span></a>
        <a class="card select selected" href="/k/creator"><i class='icon-search'></i> creator portal<span></span></a>
        <div class="card select selected" onclick="window.history.back()"><i class='icon-search'></i> back to before route<span></span></div>
    </body>
</html>