<!DOCTYPE html>
<html>
  <head>
    <title>creator portal - Karaoke</title>
    <link rel='stylesheet' href="/assets/style.mobile.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        const 
            user = JSON.parse(`{{{string user}}}`)
    </script>
    <script type='text/javascript' src="/src/js/functions/extensions/axios.js"></script>
    <script type='text/javascript' src="/src/js/functions/creatorPortal.mobile.js"></script>
    <script type='text/javascript' src="/src/js/central.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/karaoke.ico">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
  .musicThumbnail {
    width: 330px;
    height: 300px;
    border-radius: 10px;
    background: #2c2c2c;
    transition: .2s
  }
  .songTitle {
    margin: 0;
    color: #fff
  }
</style>
<div class='menuBar'>
  <div class='flex'>
<h3 class='logoName' onclick="window.location.href='/k'"><i class='icon-karaoke'></i> Creator Portal</h3>
<img onclick="window.location.href='/k/profile/{{{json user.identifier}}}'" src='https://kapi.loca.lt/api/v3/get/media/avatars/{{{json user.avatar}}}' crossorigin='anonymous' class='userAvatar'>
</div>
<hr>
</div>
  </head>
  <body>
    <div id="content">
      <img src='/images/band.webp' class="bodyImg">
      <h1 class='title'>Creator Portal</h1>
      <hr>
      Hi singer! it's very good see you here! on this page, you will manage your profile, your songs, your activy and more...
    </div>
    <br><br><br>
  <div class='navBar' style="backdrop-filter: none; padding: 2px; height: 50px">
    <div class='flex'>
    <i onclick="changeTab(this, 'main')" class='icon-home selected navigateTo route'></i>
    <i onclick="changeTab(this, 'post')" class='icon-library navigateTo route'></i>
    <i onclick="changeTab(this, 'managePosts')" class='icon-music navigateTo route'></i>
    <i onclick="changeTab(this, 'community')" class='icon-user navigateTo route'></i>
  </div>
  <div id="overlay"></div>
  <div id="contextmenu"></div>
  </body>
</html>