<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/karaoke.ico">
  <script src="src/js/central.js"></script>
  <script src='src/js/login.js'></script>
  <title>Login - Karaoke</title>
<style>
  @import "/assets/font.css";
  @import "/assets/geral.css";
  html {
    background: url(images/background.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%
  }
  body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center
  }
  .signIn {
    background: rgb(56,56,56,0.6);
    padding: 18px;
    width: 300px;
    color: rgb(255,255,255,0.5);
    text-align: left;
    border-radius: 10px
  }
</style>
</head>
<body>
  <div class='container flex'>
    <i class='icon-karaoke logo'></i>
  <div class='signIn'>
    <h1 class='title'>Welcome again!</h1>
    Enter your account information to log in again :D<br>
    <h3 class='miniTitle'>Email</h3>
    <input type='text' class='textbox' placeholder="user@example.com..." onkeyup='infosIsAlready()'><br><br>
    <h3 class='miniTitle'>Password</h3>
    <input type='text' class='textbox' placeholder="1234567..." onkeyup='infosIsAlready()'>
    <div id='error' style='display: none; color: red'></div><br>
    <div class="button grey">sign up</div>
  </div>
  <a href='/create' class='link'>i not have account</a>
  </div>
  <div id="'overlay"></div>
</body>
</html>