@font-face {
  font-family: 'karaoke';
  src:  url('AbrilFatface-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.title {
    margin: 0;
    color: #fff
  }
.bodyImg {
  width: 150px;
  height: 150px
}
  hr {
    background: #363636;
    padding: 0.5px;
    border: none
   }
  .container {
    background: #101010;
    padding: 8px
  }
  .container.mini {
    display: inline-block;
    border-radius: 6px;
    margin: 5px
  }
  .container.mini i {
    color: #fff;
    font-size: 28px;
    display: block;
  }
  .container.inOverlay {
    margin: 35vh;
    margin-top: 23vh;
    border-radius: 5px;
    text-align: center;
    color: #4e4e4e
  }
  .container.flex {
    display: flex;
    align-items: center;
    background: none;
    flex-direction: column;
  }
  .container .logo {
    font-size: 35px;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 100px
  }
  .container .signIn .title {
    margin: 5px;
  }
  .container .signIn .textbox {
    background: none;
    border: none;
    width: 96%;
    outline: none;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #5e5e5e;
  }
  .container .signIn .textbox::placeholder {
    color: rgb(255, 255, 255,0.5);
  }
  .container .signIn .miniTitle {
    margin: 0;
    color: rgb(255,255,255,0.7)
  }
  .link {
    margin-top: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .card {
    background: #1d1d1d;
    color: #fff;
    padding: 5px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 1in 10px 10px 1in;
  }
  .card i {
    background: #2f2f2f;
    padding: 10px;
    color: #fff;
    border-radius: 1in;
    margin-right: 5px;
  }
  .card i[class='icon-right'] {
     background: none;
     margin-left: auto
  }
  .card.simple {
    background: none
  }
  .card.simple .danger {
    background: #ff8d8d;
    color: #ff0000
  }
  .card span {
    margin-left: auto;
  }
  .card.select {
    background: none;
    border: 2px solid #373737;
    padding: 8px;
    transition: .2s;
    border-radius: 5px;
    margin: 5px
  }
  .card.select.selected {
    border: 2px solid #425fff
  }
  .card.select.selected i {
    background: #93a4ff;
    transition: .2s;
    color: #425fff
  }
  
  .button {
    background: #425fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transition: .2s;
    cursor: pointer;
    color: #fff
  }
  .button.grey {
    background: #373737;
  }
 .button.modern {
        border: 1.5px solid #373737;
        background: none;
        border-radius: 5px;
        padding: 4px;
        margin: 5px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-items: center
      }
     .button.modern:nth-child(1) {
        border: 2.5px dashed #373737;
        padding: 8px;
     }
     .button.modern i {
       padding: 10px;
       background: #464646;
       border-radius: 5px;
       margin-right: 5px
     }
     .button.modern i[class='icon-plus'] {
       border-radius: 1in;
       padding: 4px;
       background: #3a3a3a;
       width: 20px;
       height: 20px;
       margin-right: 5px
     }
     .button span {
       margin-right: auto;
     }
    .button.addButton {
      background: none;
      border: 3px dashed #171717;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  #contextmenu {
    position: absolute;
    background: #171717;
    display: none;
    opacity: 0;
    transition: all .1s, opacity .3s;
    border: 2px solid #3a3a3a;
    border-radius: 5px;
    z-index: 999;
    padding: 5px
  }
#contextmenu .card.simple {
  padding: 0;
  margin: 5px
}
#contextmenu .card.simple i:nth-child(1) {
  background: none;
  padding: 2px
}
 .player {
   padding: 5px;
   background: #000000;
   color: #fff;
   transition: 1s;
   text-align: center;
 }
 
 .player .thumbnail {
   width: 30%;
   height: 0%;
   border-radius: 10px;
   object-fit: cover;
 }
 
 .player .options {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 5px;
 }
 
 .player .options .icon {
   margin-left: 300px;
   color: #fff;
   font-size: 25px;
   transition: .5s;
 }
 
 .player .options .icon:nth-child(1) {
   margin-right: 300px;
   margin-left: 0;
 }
 
 .player #slash {
   color: #a1a1a1;
   display: inline-block;
   margin: 5px;
 }
 
 .player .duration {
   display: inline-block;
   margin-left: 0;
   transition: .5s;
   color: #666666
 }
 
 .player .duration:nth-child(1) {
   color: #fff;
   margin-left: auto
 }
 
 .player .bar {
   background: #2d2d2d;
   width: 70%;
   height: 7px;
   text-align: center;
   transition: .5s;
   border-radius: 5px;
 }
 
 .player .bar .progress-bar {
   background: #cdcdcd;
   width: 0%;
   height: 7px;
   transition: .2s;
   border-radius: 5px
 }
 
 .player .title {
   color: white;
   margin: 0;
 }
 
 .player .play-button {
   background: #989898;
   padding: 15px;
   color: rgba(0, 0, 0, 0.464);
   width: 31px;
   font-size: 30px;
   border-radius: 1in;
   margin: 5px;
   transition: .5s;
   display: inline-block
 }