@import "font.css";
@import "geral.css";

body {
    margin: 0;
    padding: 0;
    background: #000000
  }
  .title {
    margin: 0;
    color: #fff
  }
  .menuBar {
    margin: 5px;
    background: #000000;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .menuBar .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  .menuBar .userAvatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-left: auto;
    border-radius: 1in
  }
  .menuBar .logoName {
   margin: 0;
   color: #fff;
   display: inline-block
  }
  .navBar {
    position: fixed;
    background: rgb(24,24,24,0.5);
    backdrop-filter: blur(5px);
    bottom: 0;
    height: 50px;
    z-index: 2;
    width: 100%
  }
  .navBar .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  .navBar i {
    font-size: 20px;
    color: rgb(255,255,255,0.5);
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    transition: .2s all;
  }
  .navBar .icon-plus {
    background: #272727;
    padding: 0;
    overflow: hidden;
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 1in;
    color: #fff;
  }
 
  .navBar i.selected {
    color: #fff;
    padding-bottom: 3px;
    border-bottom: 2px solid #fff;
  }
.musicCard {
  width: clamp(340px, 50vmin, 600px);
  aspect-ratio: 4 / 3;
  display: inline-block;
  border-radius: 13px;
  margin: 10px;
  text-decoration: none;
  color: #fff;
  overflow: hidden;
  transform: translateZ(0);
}
.musicCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s;
}
.musicCard .cardInfo {
 padding: 10px;
 position: absolute;
 bottom: 0;
 left: 0;
 width: 95%;
 text-align: left;
 background: rgb(32,40,61,0.3);
 backdrop-filter: blur(3px);
}
.musicCard .cardInfo .title {
 color: #fff;
 margin: 0
}
.musicCard .cardInfo .static {
 float: right;
 margin-left: 5px
}
.musicCard .cardInfo .author {
 margin: 0;
 color: rgb(255,255,255,0.8)
}
.musicCard .option {
 position: absolute;
 right: 0;
 margin: 10px
}
.musicCard .option .icon-play {
  cursor: pointer;
  background: rgba(146, 146, 146, 0.5);
  padding: 7px;
  border-radius: 1in;
  margin-left: 5px;
  backdrop-filter: blur(8px)
}
.musicCard .option .icon-share-nodes {
  cursor: pointer;
  background: rgba(146, 146, 146, 0.5);
  padding: 7px;
  border-radius: 1in;
  backdrop-filter: blur(8px)
}

.textbox {
  background: none;
  border: none;
  width: 92%;
  margin-right: 5px;
  outline: none;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  border: 2px solid #5e5e5e;
}

.container #search {
  color: #fff;
  font-size: 23px;
}

#content {
  text-align: center;
}

.musicCard.load {
  width: clamp(300px, 50vmin, 600px);
  aspect-ratio: 4 / 3;
  display: inline-block;
  border-radius: 13px;
  margin: 10px;
  text-decoration: none;
  color: #fff;
  background: rgb(75,75,75,0.5);
  overflow: hidden;
  animation: 3s imgLoadAnimation infinite;
  transform: translateZ(0);
}
.musicCard.load .cardInfo {
 padding: 10px;
 position: absolute;
 bottom: 0;
 left: 0;
 height: 30px;
 width: 95%;
 text-align: left;
 background: rgb(32,40,61,0.4);
 backdrop-filter: blur(3px);
}
.musicCard.load .cardInfo .title {
 color: #fff;
 padding: 10px;
 border-radius: 5px;
 width: 70px;
 margin: 10px;
 animation: 3s staticsLoadAnimation infinite;
 background: rgb(99,99,99,0.5);
 margin: 0
}
.musicCard.load .cardInfo .static {
 float: right;
 margin-left: 5px
}
.musicCard.load .cardInfo .author {
 margin: 0;
 padding: 5px;
 margin: 5px;
 border-radius: 5px;
 width: 30px;
 animation: 3s staticsLoadAnimation infinite;
 background: rgb(99,99,99,0.5);
 color: rgb(255,255,255,0.8)
}
.musicCard.load .option {
 position: absolute;
 right: 0;
 margin: 10px
}
.musicCard.load .option .comment {
  cursor: pointer;
  background: rgb(255,255,255,0.5);
  padding: 15px;
  border-radius: 1in;
  margin-left: 8px;
  backdrop-filter: blur(8px)
}
.musicCard.load .option .share {
  cursor: pointer;
  background: rgb(255,255,255,0.3);
  padding: 20px;
  border-radius: 1in;
  animation: 3s staticsLoadAnimation infinite;
  backdrop-filter: blur(8px)
}

.playlist .playlistBackground {
  width: 90%;
  margin: 17px;
  object-fit: cover;
  border-radius: 5px;
  height: 200px
}
.playlist .playlist-title {
 margin: 5px;
 color: #fff;
}
.playlist .manipulateOptions {
 background: rgb(115,115,115,0.6);
 padding: 10px;
 font-size: 20px;
 width: 25px;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 1in;
 display: inline-block;
}
.playlist .playlist-music-box {
 border: 3px solid rgb(45,45,45);
 border-radius: 5px;
 padding: 5px;
 margin: 5px;
 display: flex;
 justify-content: center;
 align-items: center
}
.playlist .playlist-music-box img {
 width: 20%;
 height: 20%;
 border-radius: 10px;
 object-fit: cover;
}
.playlist .playlist-music-box .informations {
 margin: 5px;
 margin-right: auto;
 color: rgb(200,200,200,0.5)
}
.playlist .playlist-music-box .informations .song-name {
 margin: 0;
 color: #fff
}

.notification {
  background: #101010;
  color: rgb(255,255,255,0.5);
  padding: 2px;
  margin: 5px;
  border: 1px solid #3ba3ff;
  text-align: left;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 8px;
}
.notification .column {
  flex-direction: column;
  margin: 5px;
  margin-right: auto;
}
.notification img {
  width: 70px;
  height: 70px;
  margin: 3px;
  border-radius: 10px;
}
#overlay {
  background: rgb(0,0,0,0.2);
  height: 50vh;
  width: 50%;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  margin: 100px;
  transition: .1s, opacity .2s, margin .2s, height .1s, background .5s;
  z-index: 999;
  display: none;
  opacity: 0;
}

.container.inOverlay {
  margin: 7vh;
  margin-top: 23vh;
  border-radius: 5px;
  text-align: center;
  color: #4e4e4e
}

.cancel {
  float: left;
  color: #fff;
  font-size: 25px;
  margin: 10px
}


#miniPlayer {
  background: #000000;
  border-top: 1px solid #1d1d1d;
  padding: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: -100px;
  width: 100%;
  z-index: 1;
  transition: all .2s;
}
#miniPlayer .thumbnailOfSong {
  width: 55px;
  height: 55px;
  border-radius: 10px;
}
#miniPlayer .bar {
   background: #2d2d2d;
   width: 70%;
   height: 7px;
   text-align: center;
   border-radius: 5px;
 }
 #miniPlayer .bar .progress-bar {
   background: #cdcdcd;
   width: 0%;
   height: 7px;
   transition: width .3s;
   border-radius: 5px
 }
#miniPlayer .infos {
  flex-direction: column;
  margin-left: 5px;
  margin-right: auto;
  text-align: left;
}
#miniPlayer .infos .titleOfSong {
  margin: 0;
  color: #fff
}
#miniPlayer .infos .duration {
  color: rgb(255,255,255,0.5);
}
#miniPlayer .controls {
  margin-right: 15px;
  color: #fff
}
#miniPlayer .controls .skipIcons:nth-child(1) {
  transform: rotate(179deg)
}
#miniPlayer .controls .skipIcons {
  font-size: 22px;
  transition: .5s all;
  display: inline-block
}
#miniPlayer .controls .playIcon {
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px
}
#miniPlayer .control {
  margin: 5px
}
#miniPlayer .control input[type='range'] {
  width: 60%;
  height: 7px
}


.full-lyrics {
  overflow: hidden
}
.full-lyrics img {
  width: 100%;
  height: 100vh;
  display: inline-block;
  z-index: 2;
  object-fit: cover
}
.full-lyrics .shadow {
  z-index: 1;
  width: 100%;
  height: 100vh;
  position: fixed;
  background: linear-gradient(to right bottom, transparent 0%, rgb(0,0,0,0.9) 90%)
}
.full-lyrics .logo {
  position: fixed;
  color: rgb(255,255,255,0.5);
  font-weight: bold;
  right: 5px;
  z-index: 2
}
.full-lyrics .lyricsBox {
  text-align: center;
  position: fixed;
  color: rgb(255,255,255);
  z-index: 2;
  padding: 5px;
  left: 0;
  right: 0;
  top: 35%;
}
.full-lyrics .lyricsBox #lyrics {
  transition: .2s all;
  display: inline-block;
  break-word: break-all
}


.containerDevelop {
  margin: 8px;
  padding: 5px;
  border-radius: 8px;
  color: #6c6c6c;
  text-align: left;
 }
 .containerDevelop.mini {
   margin: 5px;
   border: none;
 }
 .containerDevelop.mini .userProfile {
   background: #1b1b1b;
   padding: 5px;
   display: flex;
   margin: 5px;
   justify-content: center;
   align-items: center;
   border-radius: 50px
 }
 .containerDevelop.mini .userProfile .title {
   opacity: 9
 }
 .containerDevelop.mini .userProfile .img {
   width: 50px;
   height: 50px;
   border-radius: 1in;
 }
 .containerDevelop.mini span {
   margin-left: auto
 }
 .containerDevelop.mini .title {
   opacity: 0.7;
 }
 .containerDevelop.mini .title.titleWhite {
   opacity: 9;
 }
 .containerDevelop.mini .statics {
   color: #fff;
 }
 .containerDevelop .staticBox {
   padding: 5px; 
   border: 1px solid #6a6a6a; 
   border-radius: 5px;
   color: #fff
}

.return {
  float: left;
  padding: 5px;
  z-index: 2
}

.selectBox {
  border: 1px solid #494949;
  background: #1b1b1b;
  padding: 8px;
  border-radius: 5px;
  outline: none;
  color: #fff;
  width: 97%;
  margin: 8px;
  border: none;
} 


.progressBox {
  border: 2px solid #888888;
  border-radius: 8px;
  height: 30px;
  width: 98%;
  text-align: left;
  overflow: hidden
}
.progressBox span {
  background: #5fff58;
  height: 30px;
  display: inline-block;
  transition: .2s;
  width: 0
}


.finishCircle {
  background: #abffa7;
  padding: 10px;
  border-radius: 1in;
  color: #fff;
  margin: 5px;
  font-size: 28px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 50px;
  height: 50px;
  animation: 2s pulse infinite
}

#playerOverlay {
  background: #000000;
  border-top: 2px solid #474747;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  top: 100%;
  opacity: 0;
  left: 0;
  right: 0;
  color: #fff;
  transition: 
       .2s all,
       .1s background;
  z-index: 3;
}


.player {
  padding: 5px;
  background: #000000;
  color: #fff;
  transition: 1s;
  text-align: center
}

.player .thumbnail {
  width: 80%;
  height: 0%;
  border-radius: 10px;
  object-fit: cover;
}

.player .options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.player .options .icon {
  margin-left: auto;
  color: #fff;
  font-size: 25px;
  transition: .5s;
}

.player .options .icon:nth-child(1) {
  margin-right: auto;
  margin-left: 0;
}

.player #slash {
  color: #a1a1a1;
  display: inline-block;
  margin: 5px;
}

.player .duration {
  display: inline-block;
  transition: .5s;
  color: #666666
}

.player .duration:nth-child(1) {
  color: #fff;
  margin-left: auto;
}

.player .bar {
  background: #2d2d2d;
  width: 100%;
  height: 7px;
  text-align: center;
  transition: .5s;
  border-radius: 5px;
}

.player .bar .progress-bar {
  background: #cdcdcd;
  width: 0%;
  height: 7px;
  transition: .2s;
  border-radius: 5px
}

.player .title {
  color: white;
  margin: 0;
  transition: .5s all;
}

.player .play-button {
  background: #989898;
  padding: 15px;
  color: rgba(0, 0, 0, 0.464);
  width: 31px;
  font-size: 30px;
  border-radius: 1in;
  margin: 5px;
  transition: .5s;
  display: inline-block
}


.selectThemeBox {
  background: #000000;
  border: 1px solid #1d1d1d;
  position: fixed;
  text-align: center;
  padding: 8px;
  margin: 5px;
  display: none;
  opacity: 0;
  left: 0;
  right: 0;

  z-index: 4;
  transition: .2s;
  border-radius: 10px;
  bottom: 40px;
  color: #4d4d4d
}

.selectThemeBox i {
  color: #fff;
  background: #474747;
  padding: 10px;
  font-size: 20px;
  border-radius: 1in;
  display: inline-block;
}
.selectThemeBox .square {
  background: #474747;
  padding: 20px;
  display: inline-block;
  border-radius: 5px; 
  margin-right: 50px;
  margin-left: 50px
}

.selectThemeBox .icon-music {
  font-size: 25px;
  display: block;
  background: none;
  border: none
}


.loadPlay {
  width: 30px;
  height: 30px;
  text-align: center;
  z-index: 1;
}

@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loadPlay i {
  position: relative;
  width: 80px;
  font-size: 30px;
  text-align: center;
  display: inline-block;
  height: 35px;
  width: 35px;
  vertical-align: text-center;
  
}
.loadPlay i::after {
  content: '';
  position: absolute;
  left: -5px;
  top: -5px;
  width: 100%;
  height: 100%;
  border: 3px solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}