@import "font.css";
@import "geral.css";

body {
    margin: 0;
    padding: 0;
    background: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    color: #fff
  }
  .navBar {
    background: #101010;
    border-right: 1px solid #1d1d1d;
    padding: 5px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 200px
  }
  .navBar .route {
    margin: 18px;
    color: #fff;
    transition: .2s;
    text-decoration: none;
    cursor: pointer
  }
  .navBar .route.logout {
    position: fixed;
    color: #ff0000;
    text-decoration: none;
    bottom: 0
  }
  .navBar .route.creatorPortal {
    position: fixed;
    bottom: 30px
  }
  .navBar .logo {
    margin: 5px;
    font-family: 'karaoke';
    color: #fff
  }

  .userAvatar {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    border-radius: 1in;
    margin: 10px;
    margin-right: 3px;
    object-fit: cover;
  }
  
  hr {
    background: #fff;
    padding: 0.5px;
    border: none
  }
  
  #content {
    margin-left: 17.1%;
    text-align: center;
    color: #757575
  }

  .textbox {
    background: none;
    border: none;
    width: 94%;
    margin-right: 5px;
    outline: none;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #5e5e5e;
  }
  
  .musicCard {
    width: clamp(300px, 50vmin, 600px);
    aspect-ratio: 4 / 3;
    display: inline-block;
    border-radius: 13px;
    margin: 5px;
    text-decoration: none;
    color: #fff;
    overflow: hidden;
    transform: translateZ(0);
  }
  .musicCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s;
  }
  .musicCard .cardInfo {
   padding: 10px;
   position: absolute;
   bottom: 0;
   left: 0;
   width: 95%;
   text-align: left;
   background: rgb(32,40,61,0.3);
   backdrop-filter: blur(5px);
   filter: url(/assets/blur.svg)
  }
  .musicCard .cardInfo .title {
   color: #fff;
   margin: 0
  }
  .musicCard .cardInfo .static {
   float: right;
   margin-left: 5px
  }
  .musicCard .cardInfo .author {
   margin: 0;
   color: rgb(255,255,255,0.8)
  }
  .musicCard .option {
   position: absolute;
   right: 0;
   margin: 10px
  }
  .musicCard .option .icon-comment {
    cursor: pointer;
    background: rgb(255,255,255,0.5);
    padding: 6.5px;
    border-radius: 1in;
    margin-left: 5px;
    backdrop-filter: blur(8px)
  }
  .musicCard .option .icon-play {
    cursor: pointer;
    background: rgb(255,255,255,0.5);
    padding: 6.5px;
    border-radius: 1in;
    backdrop-filter: blur(8px)
  }
  
        #overlay {
        background: rgb(0,0,0,0.2);
        height: 50vh;
        width: 50%;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        margin: 100px;
        transition: .1s, opacity .2s, margin .2s, height .1s, background .5s;
        z-index: 999;
        display: none;
        opacity: 0;
      }
  .notification {
    background: #1b1b1b;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    color: #464646;
    display: flex
  }
  .notification .information  {
    margin: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column
  }
  .notification img {
    width: 80px;
    height: 80px;
    border-radius: 5px
  }
  .notification .title {
    display: inline-block
  }

  .musicCard.load {
  width: clamp(300px, 50vmin, 600px);
  aspect-ratio: 4 / 3;
  display: inline-block;
  border-radius: 13px;
  margin: 10px;
  text-decoration: none;
  color: #fff;
  background: rgb(75,75,75,0.5);
  overflow: hidden;
  animation: 3s imgLoadAnimation infinite;
  transform: translateZ(0);
}
.musicCard.load .cardInfo {
 padding: 10px;
 position: absolute;
 bottom: 0;
 left: 0;
 height: 30px;
 width: 95%;
 text-align: left;
 background: rgb(32,40,61,0.4);
 backdrop-filter: blur(3px);
}
.musicCard.load .cardInfo .title {
 color: #fff;
 padding: 10px;
 border-radius: 5px;
 width: 70px;
 margin: 10px;
 animation: 3s staticsLoadAnimation infinite;
 background: rgb(99,99,99,0.5);
 margin: 0
}
.musicCard.load .cardInfo .static {
 float: right;
 margin-left: 5px
}
.musicCard.load .cardInfo .author {
 margin: 0;
 padding: 5px;
 margin: 5px;
 border-radius: 5px;
 width: 30px;
 animation: 3s staticsLoadAnimation infinite;
 background: rgb(99,99,99,0.5);
 color: rgb(255,255,255,0.8)
}
.musicCard.load .option {
 position: absolute;
 right: 0;
 margin: 10px
}
.musicCard.load .option .comment {
  cursor: pointer;
  background: rgb(255,255,255,0.5);
  padding: 15px;
  border-radius: 1in;
  margin-left: 8px;
  backdrop-filter: blur(8px)
}
.musicCard.load .option .share {
  cursor: pointer;
  background: rgb(255,255,255,0.3);
  padding: 20px;
  border-radius: 1in;
  animation: 3s staticsLoadAnimation infinite;
  backdrop-filter: blur(8px)
}

.playlist {
  text-align: center;
  color: #fff;
  margin-left: 5px
}
.optionsLabel {
  background: #000000;
  position: sticky;
  font-size: 20px;
  color: #fff;
  text-align: center;
  top: 0
}
.optionsLabel .leftElement {
  margin-left: auto
}
.optionsLabel .rightElement {
  margin-right: auto
}
.optionsLabel span {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.playlist .playlistBackground {
   width: 90%;
   margin: 17px;
   object-fit: cover;
   border-radius: 5px;
   height: 200px
 }
.playlist .playlist-title {
  margin: 5px;
  color: #fff;
}
.playlist .manipulateOptions {
  background: rgb(115,115,115,0.6);
  padding: 10px;
  font-size: 20px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1in;
  display: inline-block;
}
.playlist .playlist-music-box {
  border: 3px solid rgb(45,45,45);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center
}
.playlist .playlist-music-box img {
  width: 7%;
  height: 7%;
  border-radius: 10px;
  object-fit: cover;
}
.playlist .playlist-music-box .informations {
  margin: 5px;
  margin-right: auto;
  color: rgb(200,200,200,0.5)
}
.playlist .playlist-music-box .informations .song-name {
  margin: 0;
  color: #fff
}

.sendIcon {
  margin: 25px;
  font-size: 25px;
  display: inline-block;
  margin: 0;
  color: #fff
}

#playerOverlay {
  background: #000000;
  border-top: 2px solid #474747;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  top: 100%;
  opacity: 0;
  left: 0;
  right: 0;
  color: #fff;
  transition: 
       .2s all, 
       .1s background
}

#playerOverlay {
  background: #000000;
  border-top: 2px solid #474747;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  top: 100%;
  opacity: 0;
  left: 0;
  right: 0;
  color: #fff;
  transition: 
       .2s all,
       .1s background;
  z-index: 2;
}

#miniPlayer {
  background: #000000;
  border-top: 1px solid #1d1d1d;
  padding: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: -100px;
  width: 100%;
  z-index: 1;
  transition: all .2s;
}
#miniPlayer .thumbnailOfSong {
  width: 55px;
  height: 55px;
  border-radius: 10px;
}
#miniPlayer .bar {
   background: #2d2d2d;
   width: 70%;
   height: 7px;
   text-align: center;
   border-radius: 5px;
 }
 #miniPlayer .bar .progress-bar {
   background: #cdcdcd;
   width: 0%;
   height: 7px;
   transition: width .3s;
   border-radius: 5px
 }
#miniPlayer .infos {
  flex-direction: column;
  margin-left: 5px;
  margin-right: auto;
  text-align: left;
}
#miniPlayer .infos .titleOfSong {
  margin: 0;
  color: #fff
}
#miniPlayer .infos .duration {
  color: rgb(255,255,255,0.5);
}
#miniPlayer .controls {
  margin-right: 18px;
  margin-left: auto
}
#miniPlayer .controls .skipIcons:nth-child(1) {
  transform: rotate(179deg)
}
#miniPlayer .controls .skipIcons {
  margin: 5px;
  font-size: 20px;
  display: inline-block
}
#miniPlayer .controls .playIcon {
  font-size: 20px;
}

.selectThemeBox {
  background: #000000;
  border: 1px solid #1d1d1d;
  position: fixed;
  text-align: center;
  padding: 8px;
  margin: 5px;
  display: none;
  opacity: 0;
  transition: .2s;
  border-radius: 10px;
  bottom: 40px;
  color: #4d4d4d;
  right: 400px;
  left: 400px
}

.selectThemeBox .icon-music {
  font-size: 25px;
  display: block
}

.selectThemeBox i {
  color: #fff
}

@keyframes staticsLoadAnimation {
  0% {
    background: rgb(255,255,255,0.3);
  }
  75% {
    background: rgb(255,255,255,0.5);
  }
  100% {
    background: rgb(255,255,255,0.3);
  }
}
@keyframes imgLoadAnimation {
  0% {
    background: rgb(75,75,75,0.5);
  }
  75% {
    background: rgb(75,75,75,0.8);
  }
  100% {
    background: rgb(75,75,75,0.5);
  }
}