@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3cbmz9');
  src:  url('fonts/icomoon.eot?3cbmz9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3cbmz9') format('truetype'),
    url('fonts/icomoon.woff?3cbmz9') format('woff'),
    url('fonts/icomoon.svg?3cbmz9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plug:before {
  content: "\e92a";
}
.icon-send:before {
  content: "\e91e";
}
.icon-check:before {
  content: "\e91f";
}
.icon-copy-playlist:before {
  content: "\e920";
}
.icon-flag:before {
  content: "\e921";
}
.icon-comment:before {
  content: "\e91a";
}
.icon-share-nodes:before {
  content: "\e91b";
}
.icon-plus:before {
  content: "\e913";
}
.icon-bell:before {
  content: "\e900";
}
.icon-library:before {
  content: "\e902";
}
.icon-home:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-star:before {
  content: "\e905";
}
.icon-sparkle:before {
  content: "\e906";
}
.icon-outofbox:before {
  content: "\e907";
}
.icon-karaoke:before {
  content: "\e909";
}
.icon-right:before {
  content: "\e910";
}
.icon-left:before {
  content: "\e911";
}
.icon-danger:before {
  content: "\e91c";
}
.icon-net:before {
  content: "\e927";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-medium:before {
  content: "\ea27";
}
.icon-volume-low:before {
  content: "\ea28";
}
.icon-volume-mute:before {
  content: "\ea29";
}
.icon-volume-mute2:before {
  content: "\ea2a";
}
.icon-image:before {
  content: "\e90d";
}
.icon-images:before {
  content: "\e90e";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-headphones:before {
  content: "\e914";
}
.icon-music:before {
  content: "\e912";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-file-music:before {
  content: "\e928";
}
.icon-location:before {
  content: "\e947";
}
.icon-compass:before {
  content: "\e94a";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-mobile2:before {
  content: "\e959";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-gear:before {
  content: "\e994";
}
.icon-trash:before {
  content: "\e9ac";
}
.icon-global:before {
  content: "\e9c9";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-play:before {
  content: "\ea1c";
}
.icon-pause:before {
  content: "\ea1d";
}
.icon-stop:before {
  content: "\ea1e";
}
.icon-skip-left:before {
  content: "\ea1f";
}
.icon-skip-right:before {
  content: "\ea20";
}
.icon-arrow-right:before {
  content: "\ea3c";
}
.icon-arrow-left:before {
  content: "\ea40";
}
.icon-filter:before {
  content: "\ea5b";
}
.icon-ellipsis:before {
  content: "\e919";
}
