@import "font.css";
@import "geral.css";

body {
    margin: 0;
    padding: 0;
    background: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    color: #fff
  }
  .navBar {
    background: #000000;
    border-right: 1px solid #1d1d1d;
    padding: 5px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 200px
  }
  .navBar .route {
    margin: 18px;
    color: #fff;
    transition: .2s;
    text-decoration: none;
    cursor: pointer
  }
  .navBar .route.logout {
    position: fixed;
    color: #ff0000;
    text-decoration: none;
    bottom: 0
  }
  .navBar .route.creatorPortal {
    position: fixed;
    bottom: 0px
  }
  .navBar .logo {
    margin: 5px;
    font-family: 'karaoke';
    color: #fff
  }

  .userAvatar {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    border-radius: 1in;
    margin: 10px;
    margin-right: 3px;
    object-fit: cover;
  }
  
  hr {
    background: #fff;
    padding: 0.5px;
    border: none
  }
  
  #content {
    margin-left: 17.1%;
    text-align: center;
    color: #757575
  }

  .textbox {
    background: none;
    border: none;
    width: 94%;
    margin-right: 5px;
    outline: none;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #5e5e5e;
  }
  
  .musicCard {
    width: clamp(300px, 50vmin, 600px);
    aspect-ratio: 4 / 3;
    display: inline-block;
    border-radius: 13px;
    margin: 5px;
    text-decoration: none;
    color: #fff;
    overflow: hidden;
    transform: translateZ(0);
  }
  .musicCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s;
  }
  .musicCard .cardInfo {
   padding: 10px;
   position: absolute;
   bottom: 0;
   left: 0;
   width: 95%;
   text-align: left;
   background: rgb(32,40,61,0.3);
   backdrop-filter: blur(5px);
   filter: url(/assets/blur.svg)
  }
  .musicCard .cardInfo .title {
   color: #fff;
   margin: 0
  }
  .musicCard .cardInfo .static {
   float: right;
   margin-left: 5px
  }
  .musicCard .cardInfo .author {
   margin: 0;
   color: rgb(255,255,255,0.8)
  }
  .musicCard .option {
   position: absolute;
   right: 0;
   margin: 10px
  }
  .musicCard .option .icon-share-nodes {
    cursor: pointer;
    background: rgba(146, 146, 146, 0.5);
    padding: 6.5px;
    border-radius: 1in;
    margin-left: 5px;
    backdrop-filter: blur(8px)
  }
  .musicCard .option .icon-play {
    cursor: pointer;
    background: rgba(146, 146, 146, 0.5);
    padding: 6.5px;
    border-radius: 1in;
    backdrop-filter: blur(8px)
  }
  
        #overlay {
        background: rgb(0,0,0,0.2);
        height: 50vh;
        width: 50%;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        margin: 100px;
        transition: .1s, opacity .2s, margin .2s, height .1s, background .5s;
        z-index: 999;
        display: none;
        opacity: 0;
      }
      .notification {
        background: #101010;
        color: rgb(255,255,255,0.5);
        padding: 2px;
        margin: 5px;
        border: 1px solid #3ba3ff;
        text-align: left;
        display: flex;
        justify-content: center;
        align-content: center;
        border-radius: 8px;
      }
      .notification .column {
        flex-direction: column;
        margin: 5px;
        margin-right: auto;
      }
      .notification img {
        width: 70px;
        height: 70px;
        margin: 3px;
        border-radius: 10px;
      }

  .musicCard.load {
  width: clamp(300px, 50vmin, 600px);
  aspect-ratio: 4 / 3;
  display: inline-block;
  border-radius: 13px;
  margin: 10px;
  text-decoration: none;
  color: #fff;
  background: rgb(75,75,75,0.5);
  overflow: hidden;
  animation: 3s imgLoadAnimation infinite;
  transform: translateZ(0);
}
.musicCard.load .cardInfo {
 padding: 10px;
 position: absolute;
 bottom: 0;
 left: 0;
 height: 30px;
 width: 95%;
 text-align: left;
 background: rgb(32,40,61,0.4);
 backdrop-filter: blur(3px);
}
.musicCard.load .cardInfo .title {
 color: #fff;
 padding: 10px;
 border-radius: 5px;
 width: 70px;
 margin: 10px;
 animation: 3s staticsLoadAnimation infinite;
 background: rgb(99,99,99,0.5);
 margin: 0
}
.musicCard.load .cardInfo .static {
 float: right;
 margin-left: 5px
}
.musicCard.load .cardInfo .author {
 margin: 0;
 padding: 5px;
 margin: 5px;
 border-radius: 5px;
 width: 30px;
 animation: 3s staticsLoadAnimation infinite;
 background: rgb(99,99,99,0.5);
 color: rgb(255,255,255,0.8)
}
.musicCard.load .option {
 position: absolute;
 right: 0;
 margin: 10px
}
.musicCard.load .option .comment {
  cursor: pointer;
  background: rgb(255,255,255,0.5);
  padding: 15px;
  border-radius: 1in;
  margin-left: 8px;
  backdrop-filter: blur(8px)
}
.musicCard.load .option .share {
  cursor: pointer;
  background: rgb(255,255,255,0.3);
  padding: 20px;
  border-radius: 1in;
  animation: 3s staticsLoadAnimation infinite;
  backdrop-filter: blur(8px)
}

.playlist {
  text-align: center;
  color: #fff;
  margin-left: 5px
}
.optionsLabel {
  background: #000000;
  position: sticky;
  font-size: 20px;
  color: #fff;
  text-align: center;
  top: 0
}
.optionsLabel .leftElement {
  margin-left: auto
}
.optionsLabel .rightElement {
  margin-right: auto
}
.optionsLabel span {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.playlist .playlistBackground {
   width: 90%;
   margin: 17px;
   object-fit: cover;
   border-radius: 5px;
   height: 200px
 }
.playlist .playlist-title {
  margin: 5px;
  color: #fff;
}
.playlist .manipulateOptions {
  background: rgb(115,115,115,0.6);
  padding: 10px;
  font-size: 20px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1in;
  display: inline-block;
}
.playlist .playlist-music-box {
  border: 3px solid rgb(45,45,45);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center
}
.playlist .playlist-music-box img {
  width: 7%;
  height: 7%;
  border-radius: 10px;
  object-fit: cover;
}
.playlist .playlist-music-box .informations {
  margin: 5px;
  margin-right: auto;
  color: rgb(200,200,200,0.5)
}
.playlist .playlist-music-box .informations .song-name {
  margin: 0;
  color: #fff
}

.sendIcon {
  margin: 25px;
  font-size: 25px;
  display: inline-block;
  margin: 0;
  color: #fff
}

#playerOverlay {
  background: #000000;
  border-top: 2px solid #474747;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  top: 100%;
  opacity: 0;
  left: 0;
  right: 0;
  color: #fff;
  transition: 
       .2s all, 
       .1s background
}

#playerOverlay {
  background: #000000;
  border-top: 2px solid #474747;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  top: 100%;
  opacity: 0;
  left: 0;
  right: 0;
  color: #fff;
  transition: 
       .2s all,
       .1s background;
  z-index: 2;
}

#miniPlayer {
  background: #000000;
  border-top: 1px solid #1d1d1d;
  padding: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: -100px;
  width: 100%;
  z-index: 1;
  transition: all .2s;
}
#miniPlayer .thumbnailOfSong {
  width: 55px;
  height: 55px;
  border-radius: 10px;
}
#miniPlayer .bar {
   background: #2d2d2d;
   width: 70%;
   height: 7px;
   text-align: center;
   border-radius: 5px;
 }
 #miniPlayer .bar .progress-bar {
   background: #cdcdcd;
   width: 0%;
   height: 7px;
   transition: width .3s;
   border-radius: 5px
 }
#miniPlayer .infos {
  flex-direction: column;
  margin-left: 5px;
  margin-right: auto;
  text-align: left;
}
#miniPlayer .infos .titleOfSong {
  margin: 0;
  color: #fff
}
#miniPlayer .infos .duration {
  color: rgb(255,255,255,0.5);
}
#miniPlayer .controls {
  margin-right: 15px;
  margin-left: auto
}
#miniPlayer .controls .skipIcons {
  font-size: 22px;
  transition: .5s all;
  display: inline-block
}
#miniPlayer .controls .playIcon {
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px
}
#miniPlayer .control {
  margin: 5px
}
#miniPlayer .control input[type='range'] {
  width: 60%;
  height: 7px
}

.selectThemeBox {
  background: #000000;
  border: 1px solid #1d1d1d;
  position: fixed;
  text-align: center;
  padding: 8px;
  margin: 5px;
  display: none;
  opacity: 0;
  transition: .2s;
  border-radius: 10px;
  bottom: 40px;
  color: #4d4d4d;
  right: 400px;
  left: 400px
}

.selectThemeBox .icon-music {
  font-size: 25px;
  display: block
}

.selectThemeBox i {
  color: #fff
}

   
.configurationBox {
  background: #101010;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  color: #6e6e6e;
}

.configurationBox img {
  width: 80px;
  height: 80px;
  border-radius: 1in;
  object-fit: cover;
  display: inline-block;
}

.configurationBox .img {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: rgb(0,0,0,0.5);
  border-radius: 1in;
  transition: .2s;
  display: inline-block
}

.configurationBox .scrollArea .separate {
  opacity: 0.5;
}

.configurationBox .scrollArea {
  padding: 10px;
  width: 50%;
  flex: 1 1 auto;
  overflow-y: auto;
  height: 100vh;
  border-right: 1px solid #1d1d1d
}

.configurationBox .scrollArea:nth-child(2) {
  border: none; 
  align-self: flex-start;
  top: 0;
  height: 95vh;
  padding-bottom: 30px;
}

.configurationBox .option {
  padding: 15px;
  border-bottom: 1px solid #4d4d4d;
  font-size: 20px;
  color: #fff;
  text-align: left;
  transition: .2s;
  cursor: pointer
}

.configurationBox .option.selected span {
  background: rgb(255,255,255,0.1);
  padding: 6px;
  transition: .2s;
  padding-right: 400px;
  border-radius: 5px;
}

.team {
  background: #1f1f1f;
  padding: 5px;
  margin: 5px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team .column {
  flex-direction: column;
  margin: 5px
}

.team h2 {
  color: #fff;
  margin: 0
}
.team img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.team .icon-trash, .icon-outofbox {
  margin-left: auto;
  color: #fff;
  background: #484848;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
}

input[type=range] {
  appearance: none;
  background-color: rgba(198, 207, 255, 0.7);
  margin: 0;
  padding: 0;
  width: 96%;
  margin: 5px;
  height: 10px;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  transition: .2s all;
  box-shadow: -20rem 0 0 20rem #425fff;
}
input[type=range]::-moz-range-thumb {
  border: none;
  transition: .2s all;
  width: 0;
  box-shadow: -20rem 0 0 20rem #425fff;
}
.selectBox {
  border: 1px solid #494949;
  background: #1b1b1b;
  padding: 8px;
  border-radius: 5px;
  outline: none;
  color: #fff;
  width: 97%;
  margin: 8px;
  border: none;
} 
.container.infoBox {
   margin: 5px; 
   border-radius: 8px; 
   display: flex;
   align-items: center
}
.container.infoBox img {
  width: 80px;
  height: 80px
}
.container.infoBox .column {
  flex-direction: column;
  margin: 5px;
}
.container.infoBox .separate {
  padding: 2px;
  border-left: 1px solid #414141;
  border-right: 1px solid #414141
}

.containerDevelop {
  margin: 8px;
  padding: 5px;
  border-radius: 8px;
  color: #6c6c6c;
  text-align: left;
 }
 .containerDevelop.mini {
   margin: 5px;
   border: none;
 }
 .containerDevelop.mini .userProfile {
   background: #1b1b1b;
   padding: 5px;
   display: flex;
   margin: 5px;
   justify-content: center;
   align-items: center;
   border-radius: 50px
 }
 .containerDevelop.mini .userProfile .title {
   opacity: 9
 }
 .containerDevelop.mini .userProfile .img {
   width: 50px;
   height: 50px;
   border-radius: 1in;
 }
 .containerDevelop.mini span {
   margin-left: auto
 }
 .containerDevelop.mini .title {
   opacity: 0.7;
 }
 .containerDevelop.mini .title.titleWhite {
   opacity: 9;
 }
 .containerDevelop.mini .statics {
   color: #fff;
 }
 .containerDevelop .staticBox {
   padding: 5px; 
   border: 1px solid #6a6a6a; 
   border-radius: 5px;
   color: #fff
}

.progressBox {
  border: 2px solid #888888;
  border-radius: 8px;
  height: 30px;
  width: 98%;
  text-align: left;
  overflow: hidden
}
.progressBox span {
  background: #5fff58;
  height: 30px;
  display: inline-block;
  transition: .2s;
  width: 0
}

.finishCircle {
  background: #abffa7;
  padding: 10px;
  border-radius: 1in;
  color: #fff;
  margin: 5px;
  font-size: 28px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 50px;
  height: 50px;
  animation: 2s pulse infinite
}

.mainLyrics {
  background: #000000;
  border: 1px solid #2f2f2f;
  padding: 2px;
  text-align: center;
  border-radius: 5px;
  position: fixed;
  right: 5px;
  bottom: 70px;
  width: 45%;
  display: block;
  opacity: 0;
  transition: .2s;
  color: #fff
}

.mainLyrics h3 {
  transition: .2s;
  opacity: 9
}


@keyframes staticsLoadAnimation {
  0% {
    background: rgb(255,255,255,0.3);
  }
  75% {
    background: rgb(255,255,255,0.5);
  }
  100% {
    background: rgb(255,255,255,0.3);
  }
}
@keyframes imgLoadAnimation {
  0% {
    background: rgb(75,75,75,0.5);
  }
  75% {
    background: rgb(75,75,75,0.8);
  }
  100% {
    background: rgb(75,75,75,0.5);
  }
}
@keyframes shake {
  0% {
    transform: rotate(-15deg)
  }
  45% {
    transform: rotate(15deg)
  }
  100% {
    transform: rotate(0deg)
  }
}

.container.inOverlay {
  margin: 35vh;
  margin-top: 23vh;
  border-radius: 5px;
  text-align: center;
  color: #4e4e4e
}
.pickgradient {
  display:inline-block;
  z-index: 1;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}


.full-lyrics {
  overflow: hidden
}
.full-lyrics img {
  width: 100%;
  height: 100vh;
  display: inline-block;
  z-index: 2;
  object-fit: cover
}
.full-lyrics .shadow {
  z-index: 1;
  width: 100%;
  height: 100vh;
  position: fixed;
  background: linear-gradient(to right bottom, transparent 0%, rgb(0,0,0,0.9) 90%)
}
.full-lyrics .logo {
  position: fixed;
  color: rgb(255,255,255,0.5);
  font-weight: bold;
  right: 5px;
  z-index: 2
}
.full-lyrics .lyricsBox {
  text-align: center;
  position: fixed;
  color: rgb(255,255,255);
  z-index: 2;
  width: 100%;
  margin: 5px;
  top: 35%;
}
.full-lyrics .lyricsBox #lyrics {
  transition: .2s all;
  display: inline-block;
}


.player {
  padding: 5px;
  background: #000000;
  color: #fff;
  transition: 1s;
  text-align: center;
}

.player .thumbnail {
  width: 30%;
  height: 0%;
  border-radius: 10px;
  object-fit: cover;
}

.player .options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.player .options .icon {
  margin-left: 300px;
  color: #fff;
  font-size: 25px;
  transition: .5s;
}

.player .options .icon:nth-child(1) {
  margin-right: 300px;
  margin-left: 0;
}

.player #slash {
  color: #a1a1a1;
  display: inline-block;
  margin: 5px;
}

.player .duration {
  display: inline-block;
  margin-left: 0;
  transition: .5s;
  color: #666666
}

.player .duration:nth-child(1) {
  color: #fff;
  margin-left: auto
}

.player .bar {
  background: #2d2d2d;
  width: 70%;
  height: 7px;
  text-align: center;
  transition: .5s;
  border-radius: 5px;
}

.player .bar .progress-bar {
  background: #cdcdcd;
  width: 0%;
  height: 7px;
  transition: .2s;
  border-radius: 5px
}

.player .title {
  color: white;
  margin: 0;
}

.player .play-button {
  background: #989898;
  padding: 15px;
  color: rgba(0, 0, 0, 0.464);
  width: 31px;
  font-size: 30px;
  border-radius: 1in;
  margin: 5px;
  transition: .5s;
  display: inline-block
}