@import "font.css";
@import "geral.css";

body {
    margin: 0;
    padding: 0;
    background: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    color: #fff
  }
  .navBar {
    background: #101010;
    border-right: 1px solid #1d1d1d;
    padding: 5px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 200px
  }
  .navBar .route {
    margin: 18px;
    color: #fff;
    transition: .2s;
    text-decoration: none;
    cursor: pointer
  }
  .navBar .route.logout {
    position: fixed;
    color: #ff0000;
    text-decoration: none;
    bottom: 0
  }
  .navBar .route.creatorPortal {
    position: fixed;
    bottom: 30px
  }
  .navBar .logo {
    margin: 5px;
    font-family: 'karaoke';
    color: #fff
  }

  .userAvatar {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    border-radius: 1in;
    object-fit: cover;
  }
  
  hr {
    background: #fff;
    padding: 0.5px;
    border: none
  }
  
  #content {
    margin-left: 17.1%;
    text-align: center;
    color: #757575
  }

  .textbox {
    background: none;
    border: none;
    width: 94%;
    margin-right: 5px;
    outline: none;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #5e5e5e;
  }
  
  .musicCard {
    width: clamp(300px, 50vmin, 600px);
    aspect-ratio: 4 / 3;
    display: inline-block;
    border-radius: 13px;
    margin: 5px;
    text-decoration: none;
    color: #fff;
    overflow: hidden;
    transform: translateZ(0);
  }
  .musicCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s;
  }
  .musicCard .cardInfo {
   padding: 10px;
   position: absolute;
   bottom: 0;
   left: 0;
   width: 95%;
   text-align: left;
   background: rgb(32,40,61,0.3);
   backdrop-filter: blur(5px);
   filter: url(/assets/blur.svg)
  }
  .musicCard .cardInfo .title {
   color: #fff;
   margin: 0
  }
  .musicCard .cardInfo .static {
   float: right;
   margin-left: 5px
  }
  .musicCard .cardInfo .author {
   margin: 0;
   color: rgb(255,255,255,0.8)
  }
  .musicCard .option {
   position: absolute;
   right: 0;
   margin: 10px
  }
  .musicCard .option .icon-comment {
    cursor: pointer;
    background: rgb(255,255,255,0.5);
    padding: 6.5px;
    border-radius: 1in;
    margin-left: 5px;
    backdrop-filter: blur(8px)
  }
  .musicCard .option .icon-share {
    cursor: pointer;
    background: rgb(255,255,255,0.5);
    padding: 6.5px;
    border-radius: 1in;
    backdrop-filter: blur(8px)
  }
  
        #overlay {
        background: rgb(0,0,0,0.2);
        height: 50vh;
        width: 50%;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        padding: 5px;
        margin: 100px;
        transition: .1s, opacity .2s, margin .2s, height .1s, background .5s;
        z-index: 999;
        display: none;
        opacity: 0;
      }

  .notification {
    background: #1b1b1b;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    color: #464646;
    display: flex
  }
  .notification .information  {
    margin: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column
  }
  .notification img {
    width: 80px;
    height: 80px;
    border-radius: 5px
  }
  .notification .title {
    display: inline-block
  }